title Capacitor JS
script(src="/components/capacitor.js" type="module")
link(rel="stylesheet" href="/styles/capacitor.styl")
link(rel="stylesheet" href="/styles/style.styl")
link(rel="stylesheet" href="/styles/prism.css")

capacitor-router
  capacitor-route#home(pattern="^$" script="pages/home.js")
    include pages/home.pug
  capacitor-route(pattern="^wow$")
    include pages/wow.pug
  capacitor-route#docs(pattern="^docs$" script="pages/docs.js")
    include pages/docs.pug
  capacitor-route#404(pattern=".*")
    #404-container
      h1 404
      p This is a generic 404 page, because that particular route didn't match any pattern. You can see that this route has a catch all regex for things that don't match. 

script(src="/prism.js")
