#docs-container.page-container
  .component.block
    h2 capacitor-route
    p The container for routes. These dynamically remove and re-add their content whenever they're active.
    :code(html)
      <capacitor-route path="/foo">...</capacitor-route>

    .attribute-container
      .attribute path
      :code(html)
        // path can be an absolute path
        <capacitor-route path="/foo">...</capacitor-route>

        // path can also be a regex
        <capacitor-route path="^[a-z][0-9]$">...</capacitor-route>

    .attribute-container
      .attribute script
      .columns
        .column
          p Routes can have a script associated with them that have three functions: init (ran when the page loads), onActivate (ran whenever the route activates), and onDeactivate.
          :code(html)
            // routes can have a script associated with them
            <capacitor-route path="foo" script="foo.js">...</capacitor-route>
        .column
          :code(javascript)
            // foo.js

            ({
              // Runs once as soon as the page loads
              init: () => {
              },

              // Runs every time the route is activated
              onActivate: () => {
                console.log('I was activated!')
              },

              // Runs every time the route is deactivated
              onDeactivate: () => {
                console.log('Apparently the other pages were cooler')
              }
            })
    .attribute-container
      .attribute test
      p Specifies what part of the url to test. Can be path (default), hash, or both.
      :code(html)
        // this will match /foo, as well as /foo#asdf. 
        <capacitor-route path="/foo" test="path">...</capacitor-route>

        // this will match /foo, but not /foo#asdf. 
        <capacitor-route path="/foo" test="both">...</capacitor-route>

        // this will match any path that has #foo at the end.
        <capacitor-route path="foo" test="hash">...</capacitor-route>
            


  .component.block
    h2 capacitor-link
    p A replacement for &lt;a&gt; tags. Links will trigger a url update without causing a page fresh, and the router will detect and delegate accordingly to activate the correct routes.
    :code(html)
      <capacitor-link href="foo">foo<capacitor-link>
    .attribute-container
      .attribute fresh
      p Boolean attribute, default is false. If true, the route that it matches will load a fresh version of the DOM inside of it. If false, will use the previous state of the DOM. A good example of this is if the page has a &lt;textarea&gt; tag, and the textarea has some text in it, if fresh is false that text will still be present if you navigate away and back. If it's true, the textarea will be empty.
      :code(html)
        <capacitor-link href="foo" fresh>foo<capacitor-link>
    
