#home-container
  .header(load-order="primary")
    .nav
      <svg width="420" viewBox="0 0 226 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 9C0 7.89543 0.895431 7 2 7H13V14C13 15.1046 12.1046 16 11 16H0V9Z M6 9L2 15L6 12L7 14L11 8L7 11L6 9Z" fill="#FFE600" fill-rule="evenodd"/>
        <rect x="3" y="16" width="1" height="5" fill="currentColor"/>
        <rect x="9" y="16" width="1" height="5" fill="currentColor"/>
        <path d="M28.36 21.24C26.9333 21.24 25.64 20.9333 24.48 20.32C23.3333 19.6933 22.4267 18.8333 21.76 17.74C21.1067 16.6333 20.78 15.3867 20.78 14C20.78 12.6133 21.1067 11.3733 21.76 10.28C22.4267 9.17333 23.3333 8.31333 24.48 7.7C25.64 7.07333 26.94 6.76 28.38 6.76C29.5933 6.76 30.6867 6.97333 31.66 7.4C32.6467 7.82667 33.4733 8.44 34.14 9.24L32.06 11.16C31.1133 10.0667 29.94 9.52 28.54 9.52C27.6733 9.52 26.9 9.71333 26.22 10.1C25.54 10.4733 25.0067 11 24.62 11.68C24.2467 12.36 24.06 13.1333 24.06 14C24.06 14.8667 24.2467 15.64 24.62 16.32C25.0067 17 25.54 17.5333 26.22 17.92C26.9 18.2933 27.6733 18.48 28.54 18.48C29.94 18.48 31.1133 17.9267 32.06 16.82L34.14 18.74C33.4733 19.5533 32.6467 20.1733 31.66 20.6C30.6733 21.0267 29.5733 21.24 28.36 21.24ZM51.212 18H44.712L43.472 21H40.152L46.392 7H49.592L55.852 21H52.452L51.212 18ZM50.192 15.54L47.972 10.18L45.752 15.54H50.192ZM69.0286 7C70.2686 7 71.3419 7.20667 72.2486 7.62C73.1686 8.03333 73.8753 8.62 74.3686 9.38C74.8619 10.14 75.1086 11.04 75.1086 12.08C75.1086 13.1067 74.8619 14.0067 74.3686 14.78C73.8753 15.54 73.1686 16.1267 72.2486 16.54C71.3419 16.94 70.2686 17.14 69.0286 17.14H66.2086V21H62.9686V7H69.0286ZM68.8486 14.5C69.8219 14.5 70.5619 14.2933 71.0686 13.88C71.5753 13.4533 71.8286 12.8533 71.8286 12.08C71.8286 11.2933 71.5753 10.6933 71.0686 10.28C70.5619 9.85333 69.8219 9.64 68.8486 9.64H66.2086V14.5H68.8486ZM92.5011 18H86.0011L84.7611 21H81.4411L87.6811 7H90.8811L97.1411 21H93.7411L92.5011 18ZM91.4811 15.54L89.2611 10.18L87.0411 15.54H91.4811ZM110.958 21.24C109.531 21.24 108.238 20.9333 107.078 20.32C105.931 19.6933 105.024 18.8333 104.358 17.74C103.704 16.6333 103.378 15.3867 103.378 14C103.378 12.6133 103.704 11.3733 104.358 10.28C105.024 9.17333 105.931 8.31333 107.078 7.7C108.238 7.07333 109.538 6.76 110.978 6.76C112.191 6.76 113.284 6.97333 114.258 7.4C115.244 7.82667 116.071 8.44 116.738 9.24L114.658 11.16C113.711 10.0667 112.538 9.52 111.138 9.52C110.271 9.52 109.498 9.71333 108.818 10.1C108.138 10.4733 107.604 11 107.218 11.68C106.844 12.36 106.658 13.1333 106.658 14C106.658 14.8667 106.844 15.64 107.218 16.32C107.604 17 108.138 17.5333 108.818 17.92C109.498 18.2933 110.271 18.48 111.138 18.48C112.538 18.48 113.711 17.9267 114.658 16.82L116.738 18.74C116.071 19.5533 115.244 20.1733 114.258 20.6C113.271 21.0267 112.171 21.24 110.958 21.24ZM124.59 7H127.83V21H124.59V7ZM139.716 9.64H135.236V7H147.436V9.64H142.956V21H139.716V9.64ZM161.624 21.24C160.17 21.24 158.857 20.9267 157.684 20.3C156.524 19.6733 155.61 18.8133 154.944 17.72C154.29 16.6133 153.964 15.3733 153.964 14C153.964 12.6267 154.29 11.3933 154.944 10.3C155.61 9.19333 156.524 8.32667 157.684 7.7C158.857 7.07333 160.17 6.76 161.624 6.76C163.077 6.76 164.384 7.07333 165.544 7.7C166.704 8.32667 167.617 9.19333 168.284 10.3C168.95 11.3933 169.284 12.6267 169.284 14C169.284 15.3733 168.95 16.6133 168.284 17.72C167.617 18.8133 166.704 19.6733 165.544 20.3C164.384 20.9267 163.077 21.24 161.624 21.24ZM161.624 18.48C162.45 18.48 163.197 18.2933 163.864 17.92C164.53 17.5333 165.05 17 165.424 16.32C165.81 15.64 166.004 14.8667 166.004 14C166.004 13.1333 165.81 12.36 165.424 11.68C165.05 11 164.53 10.4733 163.864 10.1C163.197 9.71333 162.45 9.52 161.624 9.52C160.797 9.52 160.05 9.71333 159.384 10.1C158.717 10.4733 158.19 11 157.804 11.68C157.43 12.36 157.244 13.1333 157.244 14C157.244 14.8667 157.43 15.64 157.804 16.32C158.19 17 158.717 17.5333 159.384 17.92C160.05 18.2933 160.797 18.48 161.624 18.48ZM186.303 21L183.603 17.1H183.443H180.623V21H177.383V7H183.443C184.683 7 185.756 7.20667 186.663 7.62C187.583 8.03333 188.289 8.62 188.783 9.38C189.276 10.14 189.523 11.04 189.523 12.08C189.523 13.12 189.269 14.02 188.763 14.78C188.269 15.5267 187.563 16.1 186.643 16.5L189.783 21H186.303ZM186.243 12.08C186.243 11.2933 185.989 10.6933 185.483 10.28C184.976 9.85333 184.236 9.64 183.263 9.64H180.623V14.52H183.263C184.236 14.52 184.976 14.3067 185.483 13.88C185.989 13.4533 186.243 12.8533 186.243 12.08ZM200.594 21.1C199.834 21.1 199.12 20.9267 198.454 20.58C197.8 20.22 197.274 19.7267 196.874 19.1L197.494 18.42C197.88 18.9933 198.334 19.4333 198.854 19.74C199.387 20.0333 199.967 20.18 200.594 20.18C201.527 20.18 202.22 19.9133 202.674 19.38C203.14 18.8333 203.374 18 203.374 16.88V7.92H198.214V7H204.394V16.88C204.394 18.28 204.074 19.3333 203.434 20.04C202.794 20.7467 201.847 21.1 200.594 21.1ZM219.775 21.1C218.748 21.1 217.768 20.9267 216.835 20.58C215.915 20.22 215.195 19.76 214.675 19.2L215.135 18.44C215.628 18.96 216.288 19.3867 217.115 19.72C217.955 20.04 218.835 20.2 219.755 20.2C221.088 20.2 222.095 19.9467 222.775 19.44C223.455 18.9333 223.795 18.2733 223.795 17.46C223.795 16.8333 223.615 16.3333 223.255 15.96C222.895 15.5867 222.448 15.3 221.915 15.1C221.381 14.9 220.661 14.6933 219.755 14.48C218.728 14.2267 217.901 13.98 217.275 13.74C216.661 13.5 216.135 13.1333 215.695 12.64C215.268 12.1333 215.055 11.46 215.055 10.62C215.055 9.94 215.235 9.32 215.595 8.76C215.955 8.18667 216.501 7.73333 217.235 7.4C217.981 7.06667 218.908 6.9 220.015 6.9C220.788 6.9 221.548 7.01333 222.295 7.24C223.041 7.46667 223.688 7.77333 224.235 8.16L223.855 8.98C223.295 8.59333 222.675 8.3 221.995 8.1C221.328 7.9 220.668 7.8 220.015 7.8C218.721 7.8 217.741 8.06 217.075 8.58C216.408 9.1 216.075 9.77333 216.075 10.6C216.075 11.2267 216.255 11.7267 216.615 12.1C216.975 12.4733 217.421 12.76 217.955 12.96C218.488 13.16 219.215 13.3733 220.135 13.6C221.161 13.8533 221.981 14.1 222.595 14.34C223.208 14.58 223.728 14.9467 224.155 15.44C224.595 15.92 224.815 16.5733 224.815 17.4C224.815 18.08 224.628 18.7 224.255 19.26C223.895 19.82 223.335 20.2667 222.575 20.6C221.815 20.9333 220.881 21.1 219.775 21.1Z" fill="currentColor"/>
      </svg>
      capacitor-link(href="/") Home
      capacitor-link(href="/docs").active Docs
      capacitor-link(href="/repo") Repo

  .loading-block(load-order="secondary")
    .component
      h2 capacitor-router
      p The master router that delegates events and helps manage which routes are active. All routes must be wrapped in a router.
      :code(html)
        <capacitor-router>
          <capacitor-route pattern="foo">...</capacitor-route>
          <capacitor-route pattern="bar">...</capacitor-route>
        <capacitor-router>

    .component
      h2 capacitor-route
      p The container for routes. These dynamically remove and re-add their content whenever they're active.
      :code(html)
        <capacitor-route pattern="foo">...</capacitor-route>

        // pattern can be any regex
        <capacitor-route pattern="^[a-z][0-9]$">...</capacitor-route>

        // routes can have a script associated with them
        <capacitor-route pattern="foo" script="foo.js">...</capacitor-route>

    .component
      h2 capacitor-link
      p A replacement for &lt;a&gt; tags. Links will trigger a url update without causing a page refresh, and the router will detect and delegate accordingly to activate the correct routes.
      :code(html)
        <capacitor-link href="foo">foo<capacitor-link>
      