#home-container
  //script(src="/pages/home.js")
  .header(load-order="primary")
    <svg width="420" viewBox="0 0 205 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.36 15.24C6.93333 15.24 5.64 14.9333 4.48 14.32C3.33333 13.6933 2.42667 12.8333 1.76 11.74C1.10667 10.6333 0.78 9.38667 0.78 8C0.78 6.61333 1.10667 5.37333 1.76 4.28C2.42667 3.17333 3.33333 2.31333 4.48 1.7C5.64 1.07333 6.94 0.76 8.38 0.76C9.59333 0.76 10.6867 0.973333 11.66 1.4C12.6467 1.82667 13.4733 2.44 14.14 3.24L12.06 5.16C11.1133 4.06667 9.94 3.52 8.54 3.52C7.67333 3.52 6.9 3.71333 6.22 4.1C5.54 4.47333 5.00667 5 4.62 5.68C4.24667 6.36 4.06 7.13333 4.06 8C4.06 8.86667 4.24667 9.64 4.62 10.32C5.00667 11 5.54 11.5333 6.22 11.92C6.9 12.2933 7.67333 12.48 8.54 12.48C9.94 12.48 11.1133 11.9267 12.06 10.82L14.14 12.74C13.4733 13.5533 12.6467 14.1733 11.66 14.6C10.6733 15.0267 9.57333 15.24 8.36 15.24ZM31.212 12H24.712L23.472 15H20.152L26.392 0.999999H29.592L35.852 15H32.452L31.212 12ZM30.192 9.54L27.972 4.18L25.752 9.54H30.192ZM49.0286 0.999999C50.2686 0.999999 51.3419 1.20667 52.2486 1.62C53.1686 2.03333 53.8753 2.62 54.3686 3.38C54.8619 4.14 55.1086 5.04 55.1086 6.08C55.1086 7.10667 54.8619 8.00667 54.3686 8.78C53.8753 9.54 53.1686 10.1267 52.2486 10.54C51.3419 10.94 50.2686 11.14 49.0286 11.14H46.2086V15H42.9686V0.999999H49.0286ZM48.8486 8.5C49.8219 8.5 50.5619 8.29333 51.0686 7.88C51.5753 7.45333 51.8286 6.85333 51.8286 6.08C51.8286 5.29333 51.5753 4.69333 51.0686 4.28C50.5619 3.85333 49.8219 3.64 48.8486 3.64H46.2086V8.5H48.8486ZM72.5011 12H66.0011L64.7611 15H61.4411L67.6811 0.999999H70.8811L77.1411 15H73.7411L72.5011 12ZM71.4811 9.54L69.2611 4.18L67.0411 9.54H71.4811ZM90.9577 15.24C89.531 15.24 88.2377 14.9333 87.0777 14.32C85.931 13.6933 85.0243 12.8333 84.3577 11.74C83.7043 10.6333 83.3777 9.38667 83.3777 8C83.3777 6.61333 83.7043 5.37333 84.3577 4.28C85.0243 3.17333 85.931 2.31333 87.0777 1.7C88.2377 1.07333 89.5377 0.76 90.9777 0.76C92.191 0.76 93.2843 0.973333 94.2577 1.4C95.2443 1.82667 96.071 2.44 96.7377 3.24L94.6577 5.16C93.711 4.06667 92.5377 3.52 91.1377 3.52C90.271 3.52 89.4977 3.71333 88.8177 4.1C88.1377 4.47333 87.6043 5 87.2177 5.68C86.8443 6.36 86.6577 7.13333 86.6577 8C86.6577 8.86667 86.8443 9.64 87.2177 10.32C87.6043 11 88.1377 11.5333 88.8177 11.92C89.4977 12.2933 90.271 12.48 91.1377 12.48C92.5377 12.48 93.711 11.9267 94.6577 10.82L96.7377 12.74C96.071 13.5533 95.2443 14.1733 94.2577 14.6C93.271 15.0267 92.171 15.24 90.9577 15.24ZM104.59 0.999999H107.83V15H104.59V0.999999ZM119.716 3.64H115.236V0.999999H127.436V3.64H122.956V15H119.716V3.64ZM141.624 15.24C140.17 15.24 138.857 14.9267 137.684 14.3C136.524 13.6733 135.61 12.8133 134.944 11.72C134.29 10.6133 133.964 9.37333 133.964 8C133.964 6.62667 134.29 5.39333 134.944 4.3C135.61 3.19333 136.524 2.32667 137.684 1.7C138.857 1.07333 140.17 0.76 141.624 0.76C143.077 0.76 144.384 1.07333 145.544 1.7C146.704 2.32667 147.617 3.19333 148.284 4.3C148.95 5.39333 149.284 6.62667 149.284 8C149.284 9.37333 148.95 10.6133 148.284 11.72C147.617 12.8133 146.704 13.6733 145.544 14.3C144.384 14.9267 143.077 15.24 141.624 15.24ZM141.624 12.48C142.45 12.48 143.197 12.2933 143.864 11.92C144.53 11.5333 145.05 11 145.424 10.32C145.81 9.64 146.004 8.86667 146.004 8C146.004 7.13333 145.81 6.36 145.424 5.68C145.05 5 144.53 4.47333 143.864 4.1C143.197 3.71333 142.45 3.52 141.624 3.52C140.797 3.52 140.05 3.71333 139.384 4.1C138.717 4.47333 138.19 5 137.804 5.68C137.43 6.36 137.244 7.13333 137.244 8C137.244 8.86667 137.43 9.64 137.804 10.32C138.19 11 138.717 11.5333 139.384 11.92C140.05 12.2933 140.797 12.48 141.624 12.48ZM166.303 15L163.603 11.1H163.443H160.623V15H157.383V0.999999H163.443C164.683 0.999999 165.756 1.20667 166.663 1.62C167.583 2.03333 168.289 2.62 168.783 3.38C169.276 4.14 169.523 5.04 169.523 6.08C169.523 7.12 169.269 8.02 168.763 8.78C168.269 9.52667 167.563 10.1 166.643 10.5L169.783 15H166.303ZM166.243 6.08C166.243 5.29333 165.989 4.69333 165.483 4.28C164.976 3.85333 164.236 3.64 163.263 3.64H160.623V8.52H163.263C164.236 8.52 164.976 8.30667 165.483 7.88C165.989 7.45333 166.243 6.85333 166.243 6.08ZM180.594 15.1C179.834 15.1 179.12 14.9267 178.454 14.58C177.8 14.22 177.274 13.7267 176.874 13.1L177.494 12.42C177.88 12.9933 178.334 13.4333 178.854 13.74C179.387 14.0333 179.967 14.18 180.594 14.18C181.527 14.18 182.22 13.9133 182.674 13.38C183.14 12.8333 183.374 12 183.374 10.88V1.92H178.214V0.999999H184.394V10.88C184.394 12.28 184.074 13.3333 183.434 14.04C182.794 14.7467 181.847 15.1 180.594 15.1ZM199.775 15.1C198.748 15.1 197.768 14.9267 196.835 14.58C195.915 14.22 195.195 13.76 194.675 13.2L195.135 12.44C195.628 12.96 196.288 13.3867 197.115 13.72C197.955 14.04 198.835 14.2 199.755 14.2C201.088 14.2 202.095 13.9467 202.775 13.44C203.455 12.9333 203.795 12.2733 203.795 11.46C203.795 10.8333 203.615 10.3333 203.255 9.96C202.895 9.58667 202.448 9.3 201.915 9.1C201.381 8.9 200.661 8.69333 199.755 8.48C198.728 8.22667 197.901 7.98 197.275 7.74C196.661 7.5 196.135 7.13333 195.695 6.64C195.268 6.13333 195.055 5.46 195.055 4.62C195.055 3.94 195.235 3.32 195.595 2.76C195.955 2.18667 196.501 1.73333 197.235 1.4C197.981 1.06667 198.908 0.899999 200.015 0.899999C200.788 0.899999 201.548 1.01333 202.295 1.24C203.041 1.46667 203.688 1.77333 204.235 2.16L203.855 2.98C203.295 2.59333 202.675 2.3 201.995 2.1C201.328 1.9 200.668 1.8 200.015 1.8C198.721 1.8 197.741 2.06 197.075 2.58C196.408 3.1 196.075 3.77333 196.075 4.6C196.075 5.22667 196.255 5.72667 196.615 6.1C196.975 6.47333 197.421 6.76 197.955 6.96C198.488 7.16 199.215 7.37333 200.135 7.6C201.161 7.85333 201.981 8.1 202.595 8.34C203.208 8.58 203.728 8.94667 204.155 9.44C204.595 9.92 204.815 10.5733 204.815 11.4C204.815 12.08 204.628 12.7 204.255 13.26C203.895 13.82 203.335 14.2667 202.575 14.6C201.815 14.9333 200.881 15.1 199.775 15.1Z" fill="#232F33"/>
    </svg>
    p A client-side router for lightning fast page navigation. With Capacitor, you send the entire site all at once and let it decide what's shown.
    p Don't believe me when I say it's fast? Try <capacitor-link href="wow">clicking</capacitor-link> some <capacitor-link href="such-speed">links</capacitor-link>.

  .loading-block(load-order="secondary")
    h2 How it works
    p If you inspect this page, you'll notice this landing page is contained in a 
    <pre class=""><code class="language-filename">&lt;capacitor-route id="home" <span>pattern="^$"</span> active&gt;</code></pre>
    p Since the url path matches the pattern, the route knows to activate itself. Routes that aren't currently active remove themselves from the DOM tree. 
      
  .loading-block(load-order="tertiary")
    h2 Wont &lt;a&gt; tags force a page refresh though?
    p Yea toats. That's why we use a happy helper tag for links:
    :code
      <capacitor-link href="wow">Hello, world</capcitor-link>

    h2 I still think it's dumb - you'll have like 8 scripts all trying to run on DOMContentLoaded!
    .columns
      .column
        p Agree with the first part, but as for the second you can add listeners to the <code>routeactivate</code> event. You can also specify a <code>src</code> attribute for the route as a shorthand to bind to a few events:
        pre
          code.
            &lt;capacitor-route pattern=".*" <span>src="hello.js"</span>&gt; 
              &lt;h1&gt;Hello, world&lt;/h1&gt; 
            &lt;capcitor-route&gt;
      .column
        :code
          ({
            // Runs once as soon as the page loads
            init: () => {
            },

            // Runs every time the route is activated
            onActivate: () => {
              console.log('I was activated!')
            },

            // Runs every time the route is deactivated
            onDeactivate: () => {
              console.log('Apparently the other pages were cooler')
            }
          })