#wow-container.page-container
  h1 Wow that was so fast!
  p Feel free to click the back button - Capacitor takes advantage of javascript history states, so you can navigate naturally.

  img(src="nice.gif" loading="lazy" width="300px")