// Atlaskit variables
//navy blue
$ak-color-NA40 = #0E1423
$ak-color-NA50 = #101725
$ak-color-NA60 = #141A28
$ak-color-NA100 = #1D2637
$ak-color-NA200 = #2D3B55

//light blues
$ak-color-LB = #BBC7DE

// Reds
$ak-color-R50 = #FFEBE5
$ak-color-R75 = #FFBDAD
$ak-color-R100 = #FF8F73
$ak-color-R200 = #FF7452
$ak-color-R300 = #FF5630
$ak-color-R400 = #DE350B
$ak-color-R500 = #BF2600

// Yellows
$ak-color-Y50 = #FFFAE5
$ak-color-Y75 = #FFF0B2
$ak-color-Y100 = #FFE380
$ak-color-Y200 = #FFC400
$ak-color-Y300 = #FFAB00
$ak-color-Y400 = #FF991F
$ak-color-Y500 = #FF8B00

// Greens
$ak-color-G50 = #E3FCEF
$ak-color-G75 = #ABF5D1
$ak-color-G100 = #79F2C0
$ak-color-G200 = #57D9A3
$ak-color-G300 = #36B37E
$ak-color-G400 = #00875A
$ak-color-G500 = #006644

// Blues
$ak-color-B50 = #DEEBFF
$ak-color-B75 = #B3D4FF
$ak-color-B100 = #4C9AFF
$ak-color-B200 = #2684FF
$ak-color-B300 = #0065FF
$ak-color-B400 = #0052CC
$ak-color-B500 = #0747A6

// Purples
$ak-color-P50 = #DFD9FF
$ak-color-P75 = #C0B6F2
$ak-color-P100 = #998DD9
$ak-color-P200 = #8777D9
$ak-color-P300 = #6554C0
$ak-color-P400 = #5243AA
$ak-color-P500 = #403294

// Teals
$ak-color-T50 = #E6FCFF
$ak-color-T75 = #B3F5FF
$ak-color-T100 = #79E2F2
$ak-color-T200 = #00C7E5
$ak-color-T300 = #00B8D9
$ak-color-T400 = #00A3BF
$ak-color-T500 = #008DA6

// Neutrals
$ak-color-N10 = #FAFBFC
$ak-color-N20 = #F4F5F7
$ak-color-N30 = #EBECF0
$ak-color-N40 = #DFE1E5
$ak-color-N50 = #C1C7D0
$ak-color-N60 = #B3BAC5
$ak-color-N70 = #A5ADBA
$ak-color-N80 = #97A0AF
$ak-color-N90 = #8993A4
$ak-color-N100 = #7A869A
$ak-color-N200 = #6C798F
$ak-color-N300 = #5E6C84
$ak-color-N400 = #505F79
$ak-color-N500 = #42526E
$ak-color-N600 = #344563
$ak-color-N700 = #253858
$ak-color-N800 = #172B4D
$ak-color-N900 = #091E42

$ak-color-N10A = rgba($ak-color-N900,0.02)
$ak-color-N20A = rgba($ak-color-N900,0.04)
$ak-color-N30A = rgba($ak-color-N900,0.08)
$ak-color-N40A = rgba($ak-color-N900,0.13)
$ak-color-N50A = rgba($ak-color-N900,0.25)
$ak-color-N60A = rgba($ak-color-N900,0.31)
$ak-color-N70A = rgba($ak-color-N900,0.36)
$ak-color-N80A = rgba($ak-color-N900,0.42)
$ak-color-N90A = rgba($ak-color-N900,0.48)
$ak-color-N100A = rgba($ak-color-N900,0.54)
$ak-color-N200A = rgba($ak-color-N900,0.60)
$ak-color-N300A = rgba($ak-color-N900,0.65)
$ak-color-N400A = rgba($ak-color-N900,0.71)
$ak-color-N500A = rgba($ak-color-N900,0.77)
$ak-color-N600A = rgba($ak-color-N900,0.82)
$ak-color-N700A = rgba($ak-color-N900,0.89)

//css variable declarations
:root
  --r50: $ak-color-R50
  --r75: $ak-color-R75
  --r100: $ak-color-R100
  --r200: $ak-color-R200
  --r300: $ak-color-R300
  --r400: $ak-color-R400
  --r500: $ak-color-R500

  --y50: $ak-color-Y50
  --y75: $ak-color-Y75
  --y100: $ak-color-Y100
  --y200: $ak-color-Y200
  --y300: $ak-color-Y300
  --y400: $ak-color-Y400
  --y500: $ak-color-Y500

  --g50: $ak-color-G50
  --g75: $ak-color-G75
  --g100: $ak-color-G100
  --g200: $ak-color-G200
  --g300: $ak-color-G300
  --g400: $ak-color-G400
  --g500: $ak-color-G500

  --b50: $ak-color-B50
  --b75: $ak-color-B75
  --b100: $ak-color-B100
  --b200: $ak-color-B200
  --b300: $ak-color-B300
  --b400: $ak-color-B400
  --b500: $ak-color-B500

  --p50: $ak-color-P50
  --p75: $ak-color-P75
  --p100: $ak-color-P100
  --p200: $ak-color-P200
  --p300: $ak-color-P300
  --p400: $ak-color-P400
  --p500: $ak-color-P500

  --t50: $ak-color-T50
  --t75: $ak-color-T75
  --t100: $ak-color-T100
  --t200: $ak-color-T200
  --t300: $ak-color-T300
  --t400: $ak-color-T400
  --t500: $ak-color-T500

  --n10: $ak-color-N10
  --n20: $ak-color-N20
  --n30: $ak-color-N30
  --n40: $ak-color-N40
  --n50: $ak-color-N50
  --n60: $ak-color-N60
  --n70: $ak-color-N70
  --n80: $ak-color-N80
  --n90: $ak-color-N90
  --n100: $ak-color-N100
  --n200: $ak-color-N200
  --n300: $ak-color-N300
  --n400: $ak-color-N400
  --n500: $ak-color-N500
  --n600: $ak-color-N600
  --n700: $ak-color-N700
  --n800: $ak-color-N800
  --n900: $ak-color-N900

  --n10a: $ak-color-N10A
  --n20a: $ak-color-N20A
  --n30a: $ak-color-N30A
  --n40a: $ak-color-N40A
  --n50a: $ak-color-N50A
  --n60a: $ak-color-N60A
  --n70a: $ak-color-N70A
  --n80a: $ak-color-N80A
  --n90a: $ak-color-N90A
  --n100a: $ak-color-N100A
  --n200a: $ak-color-N200A
  --n300a: $ak-color-N300A
  --n400a: $ak-color-N400A
  --n500a: $ak-color-N500A
  --n600a: $ak-color-N600A
  --n700a: $ak-color-N700A

//shorthand mappings
$B50 = $b50 = var(--b50)
$B75 = $b75 = var(--b75)
$B100 = $b100 = var(--b100)
$B200 = $b200 = var(--b200)
$B300 = $b300 = var(--b300)
$B400 = $b400 = var(--b400)
$B500 = $b500 = var(--b500)

$G50 = $g50 = var(--g50)
$G75 = $g75 = var(--g75)
$G100 = $g100 = var(--g100)
$G200 = $g200 = var(--g200)
$G300 = $g300 = var(--g300)
$G400 = $g400 = var(--g400)
$G500 = $g500 = var(--g500)

$R50 = $r50 = var(--r50)
$R75 = $r75 = var(--r75)
$R100 = $r100 = var(--r100)
$R200 = $r200 = var(--r200)
$R300 = $r300 = var(--r300)
$R400 = $r400 = var(--r400)
$R500 = $r500 = var(--r500)

$Y50 = $y50 = var(--y50)
$Y75 = $y75 = var(--y75)
$Y100 = $y100 = var(--y100)
$Y200 = $y200 = var(--y200)
$Y300 = $y300 = var(--y300)
$Y400 = $y400 = var(--y400)
$Y500 = $y500 = var(--y500)

$P50 = $p50 = var(--p50)
$P75 = $p75 = var(--p75)
$P100 = $p100 = var(--p100)
$P200 = $p200 = var(--p200)
$P300 = $p300 = var(--p300)
$P400 = $p400 = var(--p400)
$P500 = $p500 = var(--p500)

$T50 = $t50 = var(--t50)
$T75 = $t75 = var(--t75)
$T100 = $t100 = var(--t100)
$T200 = $t200 = var(--t200)
$T300 = $t300 = var(--t300)
$T400 = $t400 = var(--t400)
$T500 = $t500 = var(--t500)

$N10 = $n10 = var(--n10)
$N20 = $n20 = var(--n20)
$N30 = $n30 = var(--n30)
$N40 = $n40 = var(--n40)
$N50 = $n50 = var(--n50)
$N60 = $n60 = var(--n60)
$N70 = $n70 = var(--n70)
$N80 = $n80 = var(--n80)
$N90 = $n90 = var(--n90)
$N100 = $n100 = var(--n100)
$N200 = $n200 = var(--n200)
$N300 = $n300 = var(--n300)
$N400 = $n400 = var(--n400)
$N500 = $n500 = var(--n500)
$N600 = $n600 = var(--n600)
$N700 = $n700 = var(--n700)
$N800 = $n800 = var(--n800)
$N900 = $n900 = var(--n900)

$N10A = $n10a = var(--n10a)
$N20A = $n20a = var(--n20a)
$N30A = $n30a = var(--n30a)
$N40A = $n40a = var(--n40a)
$N50A = $n50a = var(--n50a)
$N60A = $n60a = var(--n60a)
$N70A = $n70a = var(--n70a)
$N80A = $n80a = var(--n80a)
$N90A = $n90a = var(--n90a)
$N100A = $n100a = var(--n100a)
$N200A = $n200a = var(--n200a)
$N300A = $n300a = var(--n300a)
$N400A = $n400a = var(--n400a)
$N500A = $n500a = var(--n500a)
$N600A = $n600a = var(--n600a)
$N700A = $n700a = var(--n700a)
