:root
  --n0: hsl(220, 28%, 4%)
  --n1: hsl(220, 29%, 7%)
  --n2: hsl(220, 30%, 10%)
  --n3: hsl(220, 31%, 14%)
  --n4: hsl(220, 32%, 17%)
  --n5: hsl(220, 33%, 21%)
  --n6: hsl(220, 34%, 25%)
  --n7: hsl(220, 35%, 29%)
  --n8: hsl(220, 36%, 33%)
  --n9: hsl(220, 36%, 38%)
  --n10: hsl(220, 36%, 42%)
  --n11: hsl(220, 36%, 47%)
  --n12: hsl(220, 36%, 52%)
  --n13: hsl(220, 36%, 58%)
  --n14: hsl(220, 36%, 63%)
  --n15: hsl(220, 36%, 69%)
  --n16: hsl(220, 36%, 75%)
  --n17: hsl(220, 36%, 81%)
  --n18: hsl(220, 36%, 87%)

body
  margin: 0
  background-color: var(--n3)
  color: var(--n16)
  padding: 20px 0px 200px
  line-height: 20px

h2
  span
    padding: 0 8px 
    border-radius: 3px;
    background-color: #496180
    color: #9dc4f7
    font-size: 10px
    font-weight: bold
    display: inline-block
    line-height: 19px
    transform: translateY(-3px)
    margin-right: 8px
    filter: saturate(1.5)

a
  color: $ak-color-B100
  &:hover
    color: $ak-color-B300
    
p
  opacity: 0.8
  
img
  width: 100%

*
  box-sizing: border-box
  
.quote
  font-size: 24px
  font-family: georgia 
  font-style: italic
  line-height: 40px
  margin-top: 48px
  &:before
  &:after
    content: '\201C'
    font-size: 40px
    margin-right: 8px
    line-height: 24px
    position: relative
    top: 8px
    opacity: 0.5
  &:after
    content: '\201D'
    margin-right: 0px
    margin-left: 8px
.attribution
  padding-left: 43px
  margin-bottom: 48px
  color: white
  &:before
    content: '-'

::-webkit-scrollbar
  width: 12px
  height: 10px
  background: $ak-color-NA50
  background: var(--n2)

  &-track
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1)

  &-thumb
    background-color: var(--n6)
    
  &-corner
    background-color: var(--n4)

h1,h2,h3, .quote
  color: var(--n18)

h2
  margin-top: 24px
  font-weight: 100
  border-bottom: 1px solid rgba(255,255,255,0.3)
  padding-bottom: 8px
  text-transform: uppercase
  letter-spacing: 1px
  margin-bottom: 8px

h4
  font-weight: bold

ul
  padding-left: 20px
li
  pre[class*="language-"]
    margin-left: -2px
h3
  margin-bottom: 10px
  opacity: 0.3
  text-transform: uppercase